body{
    color:crimson;
    background-color:black;
    margin: 0px:
    matgin-bottom: 100px:auto
    }



    h1{
        color: crimson;
        font-size: 35px;
        }

        P{
            font-size: 25px;
        }
